@font-face {
  font-family: "bebasneue";
  src: url('../fonts/BebasNeue Bold.ttf');
}

@font-face {
  font-family: "roboto";
  src: url('../fonts/Roboto-Regular.ttf');
}

* {
  font-family: bebasneue;
  font-size: 17px;
}

p, li {
  font-family: roboto;
  font-size: 14px;
}

.imgredup {
  filter: brightness(50%);
}

.carousel-indicators {
  opacity: 0;
  transition: .3s;
}

.carousel-indicators:hover {
  opacity: 1;
}

.on-hover {
  transition: 1s;
}

.on-hover:hover {
  filter: brightness(50%);
}

.alert {
    animation: autoHide 0s ease-in 3s forwards;
}

@keyframes autoHide {
    to {
      visibility: hidden;
      position: absolute;
    }
}

@media (min-width: 768px) {
  .customMargin {
    margin-left: -120px;
  }
}

@media (max-width: 768px) {
  * {
  font-size: 17px;
  }

  p {
    font-family: roboto;
    font-size: 14px;
  }
}